.marquee-track {
  display: flex;
  width: max-content;
  height: 100%;
  will-change: transform;
}

.marquee-left {
  animation-name: marqueeLeft;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.marquee-right {
  animation-name: marqueeRight;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.marquee-left:hover,
.marquee-right:hover {
  animation-play-state: paused;
}

@keyframes marqueeLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes marqueeRight {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0);
  }
}